.main
  .chat-main
    .tweets-block
      .tweets-font
        .user-name
          user name
        .messages
          メッセージ
          %i.fas.fa-ellipsis-h
      .reply
        返信
  .tweets
    %i.fas.fa-pen
