.chat-main
  .tweets-block
    .user-name
      aaa
    .messages
      aaa
      %i.fas.fa-ellipsis-h
    .reply
      返信
    .time
      時間
.tweets
  = link_to new_tweets_path do
    %i.fas.fa-pen
 