.new-field
  = form_for(@tweet) do |f|
    = render 'layouts/error'
    %h3.new-tweets
      ツイートする
    %textarea{placeholder: "ツイート文を入力してください", name: "text", class: "new-text"}
    %input{type: "submit", class: "new-submit"}/  