.edit-submit {
  font-size: 20px;
  background-color: rgb(50, 210, 231);
  border-style: none; //submitの枠を非表示にする
  color: #ffffff;
  height: 50px;
  width: 100px;
  margin-top: 20px;
  margin-left: 600px;
  display: block;
}
.camera {
  margin-left: 550px;
}
.edit-edit {
  color: rgb(50, 210, 231);
  border: solid 1px rgb(50, 210, 231);
  padding: 3px;
  position: relative;
  bottom: 52px;
  margin-left: 857px;
  font-size: 14px;
}
.edit-delete {
  color: rgb(50, 210, 231);
  border: solid 1px rgb(50, 210, 231);
  padding: 3px;
  position: relative;
  bottom: 52px;
  font-size: 14px;
}