.flash-index {
  background-color: rgb(34, 213, 226);
  color: white;
  text-align: center;
}
.new-signin {
  color: red;
  font-weight: bold;
  text-align: center;
  position: relative;
  top: 80px;
  font-size: 19px;
}