.header {
  height: 68px;
  border-bottom: solid 2px rgb(225, 235, 238);
}
.sign_in {
  border: solid 1px rgb(50, 210, 231);
  height: 40px;
  width: 90px;
  display: inline-block;
  margin-left: 842px;
  color: black;
  font-weight: bold;
  position: relative;
  bottom: 4px;
  text-align: center;
  line-height: 40px;
}
.sign_up {
  border: solid 1px rgb(50, 210, 231);
  height: 40px;
  width: 90px;
  display: inline-block;
  color: black;
  font-weight: bold;
  position: relative;
  bottom: 4px;
  text-align: center;
  line-height: 40px;
}
.sign_out {
  border: solid 1px rgb(50, 210, 231);
  height: 40px;
  width: 90px;
  color: black;
  font-weight: bold;
  display: inline-block;
  margin-left: 60px;
  position: relative;
  bottom: 32px;
  text-align: center;
  line-height: 40px;
}
.bbb {
  height: 40px;
  width: 90px;
  color: black;
  font-weight: bold;
  margin-left: 1068px;
  position: relative;
  bottom: 47px;
}
.chatapp {
  font-size: 25px;
  text-decoration: none; //下線を消す
  margin-left: 100px;
  line-height: 68px;
  font-family: Impact;  //字体
}
.submit-button {
font-size: 20px;
background-color: rgb(50, 210, 231);
border-style: none; //submitの枠を非表示にする
color: white;
height: 50px;
width: 100px;
margin-top: 25px;
}