.header {
  height: 68px;
  border-bottom: solid 2px rgb(225, 235, 238);
}
.chatapp {
  font-size: 25px;
  text-decoration: none; //下線を消す
  margin-left: 100px;
  line-height: 68px;
  font-family: Impact;  //字体
}