.new-field {
  height: 430px;
  width: 500px;
  background-color: white;
  margin: 0 auto;
  position: relative;
  top: 80px;
}
.new-tweets {
  text-align: center;
  padding-top: 20px;
  font-size: 25px;
}
.new-text {
  margin: 0 auto;
  display: block;
  margin-top: 20px;
  width: 320px;
  height: 260px;
}
.fa-camera {
  font-size: 25px;
  position: relative;
  bottom: 40px;
  margin-left: 300px;
}
.new-submit {
  font-size: 20px;
  background-color: rgb(50, 210, 231);
  border-style: none; //submitの枠を非表示にする
  color: white;
  height: 50px;
  width: 100px;
  margin-top: 20px;
  margin-left: 350px;
  display: block;
}
.error-message {
  color: red;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
}
.aaa {
  height: 500px;
  width: 500px;
  background-color: white;
}
textarea.new-text{
  font-size: 20px;
  }