.new-field {
  height: 430px;
  width: 500px;
  background-color: white;
  margin: 0 auto;
  position: relative;
  top: 80px;
}
.new-tweets {
  text-align: center;
  padding-top: 20px;
  font-size: 25px;
}
.new-text {
  margin: 0 auto;
  display: block;
  margin-top: 20px;
}
.fa-camera {
  margin-left: 300px;
  font-size: 25px;
}
.new-submit {
  height: 200px;
  width: 100px;
  margin-top: 20px;
}