// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.aaa {
  color: red;
  height: 40px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
}
