h2 {
  text-align: center;
  padding-top: 20px;
  font-size: 30px;
}
.field {
  text-align: center;
  font-size: 18px;
  padding-top: 10px;
}
.text {
  width: 200px;
  height: 20px;
}
.actions {
  text-align: center;
}
.error_explanation {
  color: red;
}